<!--头部模板-->
<!-- Place this tag right after the last button or just before your close body tag. -->
<script async defer id="github-bjs" src="https://buttons.github.io/buttons.js"></script>

<section id="def_1">
    <header id="top" role="banner" class="navbar navbar-static-top desktop">
        <div class="container">
            <a id="logo" href="/" tppabs="/">
                <img src="/themes/<%=staticforder%>/images/logo.png" tppabs="/themes/<%=staticforder%>/images/logo.png">
            </a>
            <% if(!logined){ %>
            <form id="login-form" action="#" class="clearfix login-form">
                <div class="login-form-block">
                    <input type="email" placeholder="邮箱地址" name="email" required class="form-control">
                    <div class="checkbox text t-gray">
                        <label><input type="checkbox">保持登陆状态</label>
                    </div>
                </div>
                <div class="login-form-block">
                    <input type="password" placeholder="密码" name="password" required class="form-control">
                    <div class="text">
                        <a target="_blank" href="forget_password.html" tppabs="http://www.kesci.com/auth/forget" class="t-gray">忘记密码？</a>
                    </div>
                </div>
                <div class="login-form-block">
                    <button type="submit" class="btn btn-login b-blue">登陆</button>
                </div>
                <div class="alert alert-danger invalid-msg"></div>
            </form>
            <% }else{ %>
                您好！！！
                <a rel="nofollow" href="#" id="userLoginOut">退出</a>
            <% } %>
        </div>
    </header>
</section>